
@{
    ViewData["Title"] = "HomeAdministrator";
    Layout = "~/Areas/AdministratorModul/Views/Shared/_Layout.cshtml";
}

<h2>HomeAdministrator</h2>
<table align="center">

    <tr>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class=" btn btn-group-justified btn3d btn-danger btn-lg btn " asp-area="AdministratorModul" asp-controller="Administrator" asp-action="DodajAdministratora">DodajAdministratora</a>

        </td>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class="btn btn-group-justified btn3d btn-danger btn-lg btn btn-info" asp-area="AdministratorModul" asp-controller="Administrator" asp-action="Index">Lista Administratora</a>

        </td>

    </tr>
    <tr>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class="btn btn-group-justified btn btn-group-vertical  btn3d btn-danger btn-lg btn-info" asp-area="AdministratorModul" asp-controller="Klijent" asp-action="DodajKlijenta">Dodaj Klijenta</a>
        </td>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info" asp-area="AdministratorModul" asp-controller="Klijent" asp-action="Index">Lista Klijenata</a>

        </td>

    </tr>

    <tr>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info" asp-area="AdministratorModul" asp-controller="Radnik" asp-action="DodajRadnika">Dodaj Radnika</a>

        </td>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center; " class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info" asp-area="AdministratorModul" asp-controller="Radnik" asp-action="Index">Lista Radnika</a>

        </td>

    </tr>
    <tr>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info" asp-area="AdministratorModul" asp-controller="TuristickiVodic" asp-action="DodajTuristickogVodica">Dodaj Turistickog vodica</a>

        </td>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center; " class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info " asp-area="AdministratorModul" asp-controller="TuristickiVodic" asp-action="Index">Lista Turisickih vodica</a>

        </td>

    </tr>
    <tr>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center" class="btn btn-group-justified btn btn-group-vertical  btn3d btn-danger btn-lg btn-info" asp-area="AdministratorModul" asp-controller="Vozac" asp-action="DodajVozaca">Dodaj Vozaca</a>

        </td>
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center; " class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info " asp-area="AdministratorModul" asp-controller="Vozac" asp-action="Index">Lista Vozaca</a>

        </td>

    </tr>
    <tr>
        <
        <td width="400px" height="400px">
            <a style="width:300px; height:300px; vertical-align:middle; line-height:250px; text-align:center; " class="btn btn-group-justified btn btn-group-vertical btn3d btn-danger btn-lg btn-info " asp-area="AdministratorModul" asp-controller="Rezervacija" asp-action="Index">Pretraga rezervacija</a>

        </td>

    </tr>

</table>

