@model App.Web.Areas.AdministratorModul.ViewModels.KlijentDodajVM
@{
    ViewData["Title"] = "DodajKlijenta";
    Layout = "~/Areas/AdministratorModul/Views/Shared/_Layout.cshtml";

}

<h2>DodajKlijenta</h2>

<form width="700px" class="form-control-static" asp-action="SnimiKlijenta">
    <div>
        <label>Korisničko ime</label>
        <div>
            <input style="width:500px" class="form-control"  asp-for="korisnickoIme" />

        </div>
    </div>
    <div>
        <label>Lozinka</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="lozinka" />

        </div>
    </div><div>
        <label>ZapamtiMe</label>
        <div>
            <input class="input-sm" asp-for="zapamtiLozinku" />

        </div>
    </div>
    <div>
        <label>Ime</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="Ime" />

        </div>
    </div><div>
        <label>Prezime</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="Prezime" />

        </div>
    </div>
    <div>
        <label>E-mail</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="Email" />

        </div>
    </div>
    <div>
        <label>JMBG</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="JMBG" />

        </div>
    </div>
    <div>
        <label>Adresa</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="Adresa" />

        </div>
    </div>
    <div>
        <label>Telefon</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="Telefon" />

        </div>
    </div>
    <div>
        <label>Broj LK</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="BrojLK" />

        </div>
    </div>
    <div>
        <label>Broj pasoša</label>
        <div>
            <input style="width:500px" class="form-control" asp-for="BrojPasosa" />

        </div>
    </div>
    <div>
        <label>Grad</label>
        <div>
            <select style="width:500px" class="form-control" asp-for="gradID" asp-items="@Model.gradovi">
                <option>(Odaberite grad)</option>
            </select>

        </div>
    </div>
    <div>
        <label>Drzava</label>
        <div>
            <select style="width:500px" class="form-control" asp-for="drzavaID" asp-items="@Model.drzave">
                <option>(Odaberite drzavu)</option>
            </select>

        </div>
    </div>
    <button style="width:80px; height:40px" class="btn3d btn-danger" type="submit">Snimi</button>
</form>

