@model App.Web.Areas.RadnikModul.ViewModels.TuristRutaDodajVM
@{
    ViewData["Title"] = "DodajTuristRutu";
    Layout = "~/Areas/RadnikModul/Views/Shared/_Layout.cshtml";
}
<div>



</div>
<h2>DodajTuristRutu</h2>
<h3>Radnik modul</h3>
<form width="700px" class=" form form-control-static form-inline" asp-action="SnimiTuristRutu">
    <div>
        <label>Naziv</label>
        <div>
            <input asp-for="Naziv" />

        </div>
    </div>
    <div>
        <label>Opis</label>
        <div>
            <input asp-for="Opis" />

        </div>
    </div>
    <div>
        <label>Cijena rute po danu</label>
        <div>
            <input asp-for="CijenaTuristRutePoDanu" />

        </div>
    </div>

    <button type="submit">Snimi</button>
</form>